html, body, .App {
  min-height: 100vh;
  min-height: 100svh;
  margin: 0;
  padding: 0;
  background-color: #F8F7FF;
}

#root {
  font-family: "Gill Sans MT", sans-serif;
  scroll-behavior: smooth;
}

button {
  background-color: #171238;
  color: #F8F7FF;
  border-radius: 3px;
  border-width: 0;
  padding: 10px;
  cursor: pointer;
  transition: 0.15s ease 0s;
  font-family: "Gill Sans MT", sans-serif;
}

button:hover {
  background-color: #FFBA75;
  color: #171238;
  transition: 0.15s ease 0s;
}

button:active {
  background-color: #9381FF;
}

.menuBar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #171238;
  color: #D1CAFF;
  box-shadow: 0px 2px 10px 2px #D1CAFF;
}

.menuBar > h1 {
  color: #F8F7FF;
  margin-left: 10px;
  text-shadow: 0px 0px 10px #9381FF;
  cursor: pointer;
}

.feedInput {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#addFeedButton {
  background-color: #FFBA75;
  color: #171238;
  margin-left: 10px;
  margin-right: 10px;
}

#addFeedButton:hover {
  background-color: #F8F7FF;
}

#addFeedButton:active {
  background-color: #9381FF;
}

.feedHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fHLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.fHRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

#removeFeedButton {
  margin-left: 10px;
}

.filter {
  display: flex;
  flex-direction: row;
}

.categoryFilter {
  border-color: #171238;
  border-width: 3px;
  border-radius: 3px;
  margin-left: 10px;
}

.feedContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  padding: 10px;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
}

@media(max-width: 1280px) {
  ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 640px) {
  .filter {
    flex-direction: column;
    align-items: center;
  }
  ul {
    grid-template-columns: 1fr
  }
}

li {
  height: auto;
  page-break-inside: avoid;
  margin: 10px 10px;
}

.article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 0px 10px 2px #D1CAFF;
}

.articleTitle {
  cursor: pointer;
  font-weight: bold;
  color: #171238;
}

.articleContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 10px;
  overflow: auto;
}

.articleFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.articleImage {
  width: 100%;
  height: auto;
  cursor: pointer;
}

dialog::backdrop {
  backdrop-filter: blur(3px);
}

.modal {
  position: fixed;
  align-self: center;
  justify-self: center;
  max-height: 90vh;
  max-width: 90vw;
  margin: 50px;
  padding: 0;
  border-width: 0;
  border-color: #171238;
  border-radius: 3px;
  box-shadow: 0px 2px 10px 2px #D1CAFF;
  scrollbar-width: none;
}

.modalHeader {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #171238;
}

#closeModal, #origArticle {
  border-radius: 0px;
}

.modalContainer {
  margin: 25px 50px 50px 50px;
}

.modalImage {
  width: 100%;
}

.modalContentContainer {
  margin-top: 50px;
  color: #171238;
}

.modalContentContainer > * img {
  width: 100%;
}